<form action="<%= postPath %>" method="POST">
  <label for="zip">Default zipcode:
    <input name="zipcode" placeholder="Zipcode" type="text">
  </label>
  <input type="submit" value="Submit">
</form>