<!DOCTYPE html>
<html lang="en" ng-app="cmndApp">
<head>
  <meta charset="UTF-8">
  <title>cmnd.center dashboard/title>
  <link href='//fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.min.js"></script>
  <style>
    body {
      font-family: "Inconsolata";
    }
  </style>
</head>
<body>
<h1 class="text-center">dashboard</h1>

<ng-view></ng-view>

</body>
</html>