<!DOCTYPE html>
<html lang="en" ng-app="cmndApp">
  <head>

    <meta charset="UTF-8">
    <title>cmnd.center dashboard</title>

    <link href='//fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular-route.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular-resource.js"></script>

    <script src="/js/app.js"></script>
    <script src="/js/services/API.js"></script>
    <script src="/js/controllers/all_plugins_ctrl.js"></script>
    <script src="/js/controllers/api_ctrl.js"></script>
    <script src="/js/controllers/clients_ctrl.js"></script>
    <script src="/js/controllers/commands_ctrl.js"></script>
    <script src="/js/controllers/create_plugin_ctrl.js"></script>
    <script src="/js/controllers/my_plugins_ctrl.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <style>
      body {
        font-family: "Inconsolata";
      }
    </style>

  </head>
  <body>
    
    <div class="container">

      <h1 class="text-center">dashboard</h1>

      <ul class="menu">
        <li class="menu-item"><a href="#/myplugins">Your Plugins</a></li>
        <li class="menu-item"><a href="#/commands">Command History</a></li>
        <li class="menu-item"><a href="#/allplugins">All Plugins</a></li>
        <li class="menu-item"><a href="#/clients">Clients</a></li>
        <li class="menu-item"><a href="#/api">API</a></li>
        <li class="menu-item"><a href="#/createplugin">Create Plugin</a></li>
      </ul>

      <div class="view" class="row" ng-view></div ng-view>
   
    </div>

  </body>
</html>