<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>cmnd.center - command line in the cloud</title>
  <link href='//fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.0/css/foundation.min.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.min.js"></script>
  <Script src="//cdnjs.cloudflare.com/ajax/libs/foundation/5.5.0/js/foundation.min.js"></script>
  <style>
    body {
      background-color: #040404;
      font-family: "Inconsolata";
    }
    .acard {
      border: 1px solid white;
      background-color: white;
      margin: 15px;
      float: left;
      width: 250px;
      padding: 15px;
    }
    .commands-table {
      width: 100%;
    }
    .application-cell {
      width: 100px;
    }
    h1 {
      color: white;
      font-family: "Inconsolata";
    }
    .tab {
      display: none;
    }
    #commandsContainer {
      display: block;
    }
    .topTab {
      color: white;
      text-decoration: underline;
      cursor: pointer;
    }
    .topTab:hover {
      text-decoration: none;
    }
    .nav {
      color: white;
    }
  </style>

  <script id="allAppsTemplate" type="text/x-handlebars-template">
    {{#each this}}
      <div class="acard">
        <h3>{{ title }}</h3>
        <p><strong>command word:</strong>{{ command_word }}</p>
        <p><strong>description:</strong>{{ description }}</p>
        <form action="/api/user/applications" method="POST">
          <input type="hidden" name="command_word" value="{{command_word}}">
          <input type="submit" value="Add App">
        </form>
      </div>
    {{/each}}
    {{#unless this }}
      <div class="row">
        <div class="large-12 text-center">
          <div class="panel">
            you have added all applications.
          </div>
        </div>
      </div>
    {{/unless}}
  </script>

  <script id="yourAppsTemplate" type="text/x-handlebars-template">
    {{#each this}}
      <div class="acard">
        <h3>{{ title }}</h3>
        <p><strong>command word:</strong>{{ command_word }}</p>
        <p><strong>description:</strong>{{ description }}</p>
        <p><strong>config:</strong><br>
          {{{ configHtml }}}
        </p>
      </div>
    {{/each}}
  </script>

  <script id="commandsTemplate" type="text/x-handlebars-template">
    <div class="tab" id="commandsContainer">
      <table class="commands-table">
        <tr><th>apps</th><th>commands</th><th>timestamps</th></tr>
        {{#each this}}
          <tr>
            <td class="application-cell">{{ application }}</td>
            <td class="message-cell">{{ message }}</td>
            <td class="timestamp-cell">{{timestamp}}</td>
          </tr>
        {{/each}}
      </table>
    </div>
  </script>

</head>
<body>
<h1 class="text-center">dashboard</h1>

<div class="row">
  <div class="large-12 columns text-center nav">
    <span id="commandsNav" class="topTab">your commands</span> &#183; 
    <span id="yourAppsNav" class="topTab">your applications</span> &#183; 
    <span id="allAppsNav" class="topTab">all applications</span> &#183; 
    <span id="clientsNav" class="topTab">clients</span>
  </div>
</div>

<div class="row">
  <div class="large-12 small-12 columns">
 
    <div class="tab" id="commandsContainer">
      <table class="commands-table">
        <tr><th>apps</th><th>commands</th><th>timestamps</th></tr>
        <% commands.forEach(function(command){ %>
          <tr>
            <td class="application-cell"><%= command.application %></td>
            <td class="message-cell"><%= command.message %></td>
            <td class="timestamp-cell"><%= command.timestamp %></td>
          </tr>
        <% }); %>
      </table>
    </div>

    <div class="tab clear" id="yourApps"></div>
    <div class="tab" id="allApps"></div>

    <div class="tab" id="clientsContainer">
      <div class="row">
        <div class="large-12">
          <div class="panel">
            <p>There is only one client right now: a terminal application written in Python. It should work in all Unix environments.</p>
            <p><h3>Download here: <a href="/clients/cmnd">cmnd terminal client</a></h3></p>
            <p><strong>Installation instructions:</strong></p>
            <ul>
              <li>Make the script executable: <strong>chmod 755 cmnd</strong></li>
              <li>Copy it to /usr/local/bin so it is executable anywhere: <strong>cp cmnd /usr/local/bin</strong></li>
              <li>Run <strong>cmnd setup</strong> to authenticate with cmnd's server.</li>
              <li>That's it. Try running a few commands, if you've added an application.</li>
            </ul>
            <p>In the future, hopefully, maybe, SDKs will be released for developing clients as well as applications.</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<script>
  var Display = (function(){
    var allAppsTemplate, yourAppsTemplate, $yourApps, $allApps, $commandsContainer, $tabs;

    var allAppsHandler = function(){
      $tabs.hide();
      $allApps.show();
      $.get('/api/user/applicationsnotadded', function(data){
        $allApps.html(allAppsTemplate(data));
      });
    };

    var yourAppsHandler = function(){
      $tabs.hide();
      $yourApps.show();
      $.get('/api/user/applicationsconfig', function(data){
        $yourApps.html(yourAppsTemplate(data));
      });
    };

    var commandsHandler = function(){
      $tabs.hide();
      $commandsContainer.show();
      $.get('/api/commands', function(data){
        $yourApps.html(yourAppsTemplate(data));
      });
    };

    var clientsHandler = function(){
      $tabs.hide();
      $clientsContainer.show();
    };

    var init = function(){
      allAppsTemplate = Handlebars.compile($("#allAppsTemplate").html());
      yourAppsTemplate = Handlebars.compile($("#yourAppsTemplate").html());
      commandsTemplate = Handlebars.compile($("#commandsTemplate").html());
      $yourApps = $('#yourApps');
      $allApps = $('#allApps');
      $commandsContainer = $('#commandsContainer');
      $clientsContainer = $('#clientsContainer');
      $tabs = $('.tab');
      $(document).on('click','#yourAppsNav', yourAppsHandler);
      $(document).on('click','#allAppsNav', allAppsHandler);
      $(document).on('click','#commandsNav', commandsHandler);
      $(document).on('click','#clientsNav', clientsHandler);
    }

    $(document).ready(init);

    return { }
  })();

</script>

</body>
</html>