<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8">
  <title>cmnd</title>
  <link href='http://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>

<div class="login-container">
  <div class="input-container">
    <input name="username" type="text"><input name="password" type="password"><input value="login" type="submit">
  </div>
</div>

<div class="page-container">
  <ul class="navigation">
    <li class="section">
      cmnd
    </li>
    <li class="section">
      about
      <ul>
        <li class="article">
          <a href="">introduction</a>
        </li>
        <li class="article">
          <a href="">register</a>
        </li>
        <li class="article">
          <a href="">login</a>
        </li>
        <li class="article">
          <a href="">github</a>
        </li>
      </ul>
    </li>
    <li class="section">
      dashboard
      <ul>
        <li class="article">
          <a href="http://www.google.com/somet/wttwt">your history</a>
        </li>
        <li class="article">
          <a href="">your plugins</a>
        </li>
        <li class="article">
          <a href="">all plugins</a>
        </li>
        <li class="article">
          <a href="">clients</a>
        </li>
      </ul>
    </li>
    <li class="section">
      submit
      <ul>
        <li class="article">
          <a href="">submit plugin</a>
        </li>
        <li class="article">
          <a href="">register client</a>
        </li>
      </ul>
    </li>
    <li class="section">
      docs
      <ul>
        <li class="article">
          <a href="">plugin</a>
        </li>
        <li class="article">
          <a href="">client</a>
        </li>
        <li class="article">
          <a href="">tutorial</a>
        </li>
      </ul>
    </li>
  </ul>

  <div class="content">
    <h5 class="content-section">what is this?</h5>
    <p class="content-paragraph">
      cmnd.center is a command line in the cloud.<br><br>
      cmnd clients send text to the cmnd API which interacts with plugins a user has previously added.
    </p>
    <h5 class="content-section">plugins?</h5>
    <p class="content-paragraph">
      you can add or develop plugins that are accessible from any client. plugins are javascript modules that typically interact with APIs. for example, posting your facebook status.
    </p>
    <h5 class="content-section">clients?</h5>
    <p class="content-paragraph">
      a client sends text to the cmnd API, which routes commands to a users plugins, which process the command. the first client is a command line tool, but it's reasonable to imagine text coming from any source (phone, email, voice..).
    </p>
    <h5 class="content-section">examples from the terminal</h5>
    <p class="content-paragraph">
      <strong>cmnd facebook</strong> hello everyone I am posting from the terminal<br>
      <strong>cmnd weather temp 5day</strong><br>
      <strong>cmnd email</strong> john@smith.net <strong>subject</strong> "We need to talk" <strong>body</strong> "What is the point?"
    </p>
    <h5 class="content-section">why?</h5>
    <p class="content-paragraph">
      because you can add a common set of tools once in one place and it is available in all of your environments after one pip install.
    </p>
    <h5 class="content-section">register</h5>
    <div class="content-paragraph">
      <form method="POST" action="/api/user">
        <input type="text" name="username" placeholder="email/username"><br>
        <input type="password" name="password" placeholder="password"><br>
        <input value="register" type="submit">
      </form>
    </div>
    <h5 class="content-section">who made it?</h5>
    <p class="content-paragraph">
      sean gibat, with the assistance and advice of michael morehead, anastasi bakolias, brendan gibat, luis guitteriez, and others
    </p>
  </div>
</div>
  
</body>
</html>