<form>

  <input type="text" model="plugin.title" placeholder="plugin title"><br>
  <input type="text" model="plugin.command_word" placeholder="command word">

  <p>
    description<br>
    <textarea model="plugin.description">description</textarea>
  </p>
  
  <p>
    source<br>
    <textarea model="plugin.source">
    var setStorage = application.remote.setStorage; // setStorage("key", value);
    var getStorage = application.remote.getStorage; // getStorage("key");
    var request    = application.remote.request; // npm module request
    var send       = application.remote.send; // res(someObject) sends the whatever response
    var res        = application.remote.res; // res(someObject) sends the json response
    var log        = application.remote.log; // log("stuff I want to log");

    var command = function(command, secrets){
      
    };

    var getRedirect = function(params, secrets){

    };

    var postRedirect = function(body, secrets){

    };

    var api = {
        command      : command,
        getRedirect  : getRedirect,
        postRedirect : postRedirect
    };

    application.setInterface(api);
    </textarea>
  </p>

  <p>
    config html<br>
    <textarea model="plugin.config_html">config html</textarea>
  </p>

  <p>
    secrets<br>
    <textarea model="plugin.secrets">secrets</textarea>
  </p>

  <input type="submit">

</form>