<form>

  <input type="text" model="plugin.title" placeholder="plugin title"><br>
  <input type="text" model="plugin.command_word" placeholder="command word">

  <p>
    description<br>
    <textarea model="plugin.description">description</textarea>
  </p>
  
  <p>
    source<br>
    <textarea model="plugin.source">source</textarea>
  </p>

  <p>
    config html<br>
    <textarea model="plugin.config_html">config html</textarea>
  </p>

  <p>
    secrets<br>
    <textarea model="plugin.secrets">secrets</textarea>
  </p>

  <input type="submit">

</form>